/* font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Source+Sans+Pro:wght@400;600;700&display=swap");

/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* css */
.btnPrimaryCol {
  background: radial-gradient(
      166.9% 1884.09% at 4.37% -48.59%,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    #3b593e;
}

.buyinglistBtnHover:hover {
   background: radial-gradient(
      166.9% 1884.09% at 4.37% -48.59%,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    #3b593e;
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.3);
}

.btnPrimaryColHover {
  background: radial-gradient(77% 77% at 0% 13.5%, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #293D2B;
}
.btnSecondaryCol {
  background: radial-gradient(
      487.5% 746.3% at 41.53% -111.11%,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    #1c1d24;
}

.tagBreakfast {
  background: radial-gradient(
        57.37% 226.16% at 6.43% -44.44%,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(0, 0, 0, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    linear-gradient(180deg, #64bc26 0%, #51981f 100%);
}
.tagLunch {
  background: linear-gradient(180deg, #f3c847 0%, #d7a50e 100%);
}
.tagDinner {
  background: linear-gradient(180deg, #e59a10 0%, #c8870e 100%);
}
.tagInfo {
  background: linear-gradient(180deg, #2B5A8C 0%, #2B598C 0.01%, #1F4064 100%);
}

.succesGradient {
  background: linear-gradient(180deg, #71d42b 0%, #4d901d 100%);
}
.warningGradient {
  background: linear-gradient(180deg, #ffae33 0%, #e68a00 100%);
}
.failureGradient {
  background: linear-gradient(180deg, #da1301 0%, #980d01 100%);
}

.subscribe {
  background: linear-gradient(180deg, #be0504 0%, #8c0403 100%);
}

.signBg {
  background: radial-gradient(
        89.71% 71.41% at -29.12% 18.06%,
        rgba(255, 255, 255, 0.06) 0%,
        rgba(0, 0, 0, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #272728;
}

.combinationBg {
  background: radial-gradient(
      123.85% 531.53% at 3.36% -16.11%,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.05) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.instagramGradient {
  background: linear-gradient(196.7deg, #505FD4 16.76%, #CF2F8A 55.29%, #FDD16E 93.39%);
}

.imgOverlayRandomMeal {
  background: linear-gradient(180.26deg, rgba(0, 0, 0, 0) 0.23%, rgba(0, 0, 0, 0) 52.83%, rgba(0, 0, 0, 0.7) 99.77%);
}

.imgOverlayMealdetails {
  background: linear-gradient(360deg, #282933 0%, rgba(40, 41, 51, 0) 54.25%, rgba(40, 41, 51, 0) 100%);
}
.modalGradient {
  background: linear-gradient(180deg, #282933 0%, #1C1D24 100%);
}

/* Shadows */
.cardNameShadow {
  box-shadow: 0px 20px 75px rgba(0, 0, 0, 0.50);
}

.cardShadow {
  box-shadow: 0px 20px 75px rgba(0, 0, 0, 0.2);
}

.cardIconShadow {
  box-shadow: 0px 8px 24px #000000;
}

.DayMealsShadow {
  box-shadow: 0px 30px 50px #191A20;
}

.informationBoxShadow {
  box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.5);
}

.buttonShadow {
  box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.3);
}

.buttonDiceShadow {
  box-shadow: 0px 20px 75px rgba(0, 0, 0, 0.5);
}

.buyinglistMealShadow {
  box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.3)
}

.modalShadow {
  box-shadow: 0px 20px 120px #000000
}