/* font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Source+Sans+Pro:wght@400;600;700&display=swap");

/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* css */
.btnPrimaryCol {
  background: radial-gradient(
      166.9% 1884.09% at 4.37% -48.59%,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    #3b593e;
}

.buyinglistBtnHover:hover {
   background: radial-gradient(
      166.9% 1884.09% at 4.37% -48.59%,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    #3b593e;
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.3);
}

.btnPrimaryColHover {
  background: radial-gradient(77% 77% at 0% 13.5%, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #293D2B;
}
.btnSecondaryCol {
  background: radial-gradient(
      487.5% 746.3% at 41.53% -111.11%,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    #1c1d24;
}

.tagBreakfast {
  background: radial-gradient(
        57.37% 226.16% at 6.43% -44.44%,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(0, 0, 0, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    linear-gradient(180deg, #64bc26 0%, #51981f 100%);
}
.tagLunch {
  background: linear-gradient(180deg, #f3c847 0%, #d7a50e 100%);
}
.tagDinner {
  background: linear-gradient(180deg, #e59a10 0%, #c8870e 100%);
}
.tagInfo {
  background: linear-gradient(180deg, #2B5A8C 0%, #2B598C 0.01%, #1F4064 100%);
}

.succesGradient {
  background: linear-gradient(180deg, #71d42b 0%, #4d901d 100%);
}
.warningGradient {
  background: linear-gradient(180deg, #ffae33 0%, #e68a00 100%);
}
.failureGradient {
  background: linear-gradient(180deg, #da1301 0%, #980d01 100%);
}

.subscribe {
  background: linear-gradient(180deg, #be0504 0%, #8c0403 100%);
}

.signBg {
  background: radial-gradient(
        89.71% 71.41% at -29.12% 18.06%,
        rgba(255, 255, 255, 0.06) 0%,
        rgba(0, 0, 0, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #272728;
}

.combinationBg {
  background: radial-gradient(
      123.85% 531.53% at 3.36% -16.11%,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.05) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.instagramGradient {
  background: linear-gradient(196.7deg, #505FD4 16.76%, #CF2F8A 55.29%, #FDD16E 93.39%);
}

.imgOverlayRandomMeal {
  background: linear-gradient(180.26deg, rgba(0, 0, 0, 0) 0.23%, rgba(0, 0, 0, 0) 52.83%, rgba(0, 0, 0, 0.7) 99.77%);
}

.imgOverlayMealdetails {
  background: linear-gradient(360deg, #282933 0%, rgba(40, 41, 51, 0) 54.25%, rgba(40, 41, 51, 0) 100%);
}
.modalGradient {
  background: linear-gradient(180deg, #282933 0%, #1C1D24 100%);
}

.buyinglistImgGradient {
  background: linear-gradient(90deg, #282933 0%, rgba(40, 41, 51, 0.7) 14.58%, rgba(40, 41, 51, 0) 100%);
}

/* Shadows */
.cardNameShadow {
  box-shadow: 0px 20px 75px rgba(0, 0, 0, 0.50);
}

.cardShadow {
  box-shadow: 0px 20px 75px rgba(0, 0, 0, 0.2);
}

.cardIconShadow {
  box-shadow: 0px 8px 24px #000000;
}

.DayMealsShadow {
  box-shadow: 0px 30px 50px #191A20;
}

.informationBoxShadow {
  box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.5);
}

.buttonShadow {
  box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.3);
}

.buttonDiceShadow {
  box-shadow: 0px 20px 75px rgba(0, 0, 0, 0.5);
}

.buyinglistMealShadow {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3)
}

.modalShadow {
  box-shadow: 0px 20px 120px #000000
}


/*
.Toastify__toast--error {
    border: 1px solid #EB5757;
    border-radius: 50px !important;
    background: #FAE1E2 !important;
}
.Toastify__toast--error::after {
  content : url('../assets/images/svg/closeToast.svg');
  position: absolute;
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  left:265px;
  padding-top: 14px !important;
}
.Toastify__toast--error::before {
  content: url("../assets/images/svg/errorToast.svg");
  position:relative; 
  z-index:100000;
  left:12px;
  top:6px;
}
.Toastify__toast--success {
  border: 1px solid #3A9EA5 !important;
  border-radius: 50px !important;
  background: #F0F9FA !important;
}
.Toastify__toast--success::before {
  content: url("../assets/images/svg/successToast.svg");
  position:relative; 
  z-index:100000;
  left:12px;
  top:6px;
}
.Toastify__toast--success::after {
  content : url('../assets/images/svg/closeToast.svg');
  position: absolute;
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  left:265px;
  padding-top: 14px !important;
}
.Toastify__toast--warning {
  border: 1px solid #E78326  !important;
  border-radius: 50px !important;
  background: #FADFC5 !important;
}
.Toastify__toast--warning::before {
  content: url("../assets/images/svg/warnToast.svg");
  position:relative; 
  z-index:100000;
  left:12px;
  top:6px;
}  
.Toastify__toast--warning::after {
  content : url('../assets/images/svg/closeToast.svg'); 
  position: absolute;
  color: #E78326;
  font-size: 15px;
  font-weight: 700;
  left:265px;
  padding-top: 14px !important;
}
.Toastify__toast-body {
  color: #444C63    ;
  font-size: 16px;
  padding-left: 20px;
  line-height: 20px;
  padding: 0px;
  padding-top: 25px;
  width: 100%;
  font-weight: 400;
  margin-left: 25px !important;
} 
.Toastify__toast > button>  svg {
    display: none;
}
*/

.Toastify__toast {
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.5) !important;
  border-radius: 10px !important;
}
.Toastify__toast-body {
  font-family: "Sources-Sans-Pro", sans-serif;
  color: #F2F3F4 !important;
  font-size: 0.875rem !important;
  border-radius: 50px !important;
}
.Toastify__close-button > svg {
  color: white;
}
.Toastify__toast--info, .Toastify__toast--success, .Toastify__toast--warning, .Toastify__toast--error {
  background: #282933 !important;
}

.Toastify__progress-bar--success {
  background-color: #5CAB23 !important;
}
.Toastify__progress-bar--warning {
  background-color: #FFAE33 !important;
}
.Toastify__progress-bar--error {
  background-color: #DA1301 !important;
}